$pri_pink: #f9004d;
$pri_dark: #212121;
$pri_grey_light: #a1a9a2;
$pri_grey_dark: #777b83;
$white: #ffffff;
$black: #000000;

$linear-gradient-pink: linear-gradient(
  to left top,
  #ff2c9c,
  #ff287b,
  #ff395a,
  #ff5137,
  #ff6a00
);
